body {

    background-color: aliceblue;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'Sigmar One', cursive;
}

.main {
    background-image: url(assets/ir.jpg);
}
h1, h5, p, a{
    
    color: rgb(0, 0, 0);
}
.titulo1,index, contato{
    
    color: white;
    font-family: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
   
}


